<div class="bg-gray-900 text-gray-100 p-6 min-h-screen">
  <% if authenticated? %>
    <p class="text-gray-300">Hi <%= Current.user.email_address %></p>
    <%= button_to "Sign out", session_path, 
        method: :delete, 
        class: "px-4 py-2 my-4 bg-red-600 text-white rounded-lg hover:bg-red-700" %>
  <% else %>
  <% end %>
  <%= turbo_stream_from "messages" %>
  <div id="messages" class="space-y-2 mb-4 h-96 overflow-y-auto bg-gray-800 p-4 rounded-lg">
    <%= render @messages %>
  </div>
  <% if authenticated? %>
    <%= render "messages/form", message: Message.new %>
  <% else %>
    <div class="rounded-lg bg-gray-800 p-4 text-center">
      <%= link_to "Sign in to chat", new_session_path, class: "text-blue-400 hover:text-blue-300" %>
    </div>
  <% end %>
</div>